<a href="/" >< Go Back</a>

{% if categoryList %}
<h3>List news</h3>
<form method="POST" action="">
    <h4>Select category:</h4>
  <select name="category">
    {% for category in categoryList %}
    <option value="{{category[0]}}">{{category[0]}}</option>
    {% endfor %}
  </select>
  <h4>From:</h4>
  <input type="date" name="fromDate">
  <h4>To:</h4>
  <input type="date" name="toDate">
  <input type="submit" value="List News" />
</form>
{% endif %}

{% if newsData %}
<table border = 1>
    <tr>
        <td><h4>Author</h4></td>
        <td><h4>Category</h4></td>
        <td><h4>Title</h4></td>
        <td><h4>Description</h4></td>
        <td><h4>Image URL</h4></td>
    </tr>
    {% for news in newsData %}
    <tr>
        <td>{{news[0]}}</td>
        <td>{{news[1]}}</td>
        <td>{{news[2]}}</td>
        <td>{{news[3]}}</td>
        <td>{{news[5]}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}